          <div class="jumbotron">
            <h1 class="display-4">Will list current list of hospitalized here.</h1>
            <p class="lead">Placeholder [p] tag information</p>
            <hr class="my-4">
            <p>Even more Placeholder [p] tag information</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    
    <style media="screen">
    body {
        background-color: #242323;
    }
</style>