<style media="screen">
    body {
        background-color: #242323;
    }


    .cardtitle {
        color: white;
    }

    .singleform {
        padding: 15%;

    }

    .input {
        width: 50%;
    }
</style>

<form>

    <div class="form-group singleform">
        <h1 class="card-title cardtitle"> Send Return to Work Reminder</h1>
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">

        <break></break>
        <button type="button"  class="btn btn-dark btn-lg btn-block" onclick="return test();"> Send Reminder </button>
    </div>
    </div>

</form>
