<style media="screen">

body { 
   background-color: #242323; 
}


.cardtitle {
    color: white;
}
.singleform {
    padding: 15%;

}

.input { 
    width: 50%;
}
</style>


<body>
{{{body}}}
<script src="/api.js"> </script>
 <!-- navigation bar -->

    
                <form>    

  <div class="form-group singleform">
       <h1 class="card-title cardtitle"> Send Return to Work Reminder</h1>
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
   
  <break></break>
  <a href="#" class="btn btn-primary" id="webapi">Send Reminder </a>
  </div>

</form>
</body>