<style media="screen">
    body {
        background-color: #242323;
    }
</style>

<form class="needs-validation" novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom01">First name</label>
            <input type="text" class="form-control" id="firstName" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationCustom02">Last name</label>
            <input type="text" class="form-control" id="lastName" value="" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">COVID Positive Date</label>
            <input type="date" class="form-control" id="posDate" required>
            <div class="invalid-feedback">
                {{!-- Please provide a valid city. --}}
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom05">Employee Condition</label>
            {{!-- <input type="text" class="form-control" id="condition" required> --}}
            <select name="Status" id="condition">
                <option value="Asymptomatic">Asymptomatic</option>
                <option value="Symptomatic">Symptomatic</option>
                <option value="Hospitalized">Hospitalized (symptomatic)</option>
            </select>
            <div class="invalid-feedback">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="validationCustom03">Start Date</label>
                <input type="date" class="form-control" id="qStart" required>
                <div class="invalid-feedback">
                    {{!-- Please provide a valid city. --}}
                </div>
            </div>

            <div class="col-md-6">
                <label for="validationCustom03">End Date</label>
                <input type="date" class="form-control" id="qEnd" required>
                <div class="invalid-feedback">
                    {{!-- Please provide a valid city. --}}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="validationCustom03">Start Date</label>
                <input type="date" class="form-control" id="validationCustom07" required>
                <div class="invalid-feedback">
                    {{!-- Please provide a valid city. --}}
                </div>
            </div>

            <div class="col-md-6">
                <label for="validationCustom03">End Date</label>
                <input type="date" class="form-control" id="validationCustom08" required>
                <div class="invalid-feedback">
                    {{!-- Please provide a valid city. --}}
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="button" id="newEmp" class="btn btn-dark btn-lg btn-block">Add New Employee</button>
    </div>

</form>