<form>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationDefault01">First name</label>
            <input type="text" class="form-control" id="validationDefault01" value="" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationDefault02">Last name</label>
            <input type="text" class="form-control" id="validationDefault02" value="" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationDefault05">COVID Positive Date</label>
            <input type="text" class="form-control" id="validationDefault05" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationDefault05">Employee Health Condition</label>
            <input type="text" class="form-control" id="validationDefault05" required>
        </div>
    </div>


    <div class="container">
        <div class="form-row">
            <div class="col-md-6">
                <form action="#" class="ws-validate">
                    <h2>Start Date</h2>
                    <div class="form-row show-inputbtns">
                        <input type="date" data-date-inline-picker="false" data-date-open-on-focus="true" />
                    </div>
                    <div class="form-row">
                        <input type="submit" />
                    </div>
            </div>


            <div class="col-md-6">
                <form action="#" class="ws-validate">
                    <h2>End Date</h2>
                    <div class="form-row show-inputbtns">
                        <input type="date" data-date-inline-picker="false" data-date-open-on-focus="true" />
                    </div>
                    <div class="form-row">
                        <input type="submit" />
                    </div>
            </div>

        </div>
    </div>
</form>


<div class="container">
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-light" type="submit">Add Employee</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
    </script>
    <script src="js/submission.js"></script>