 	<link rel="stylesheet" href="/css/symptomatic.css">


          <div class="jumbotron">
            <h1 class="display-4">Will list current symptomatic employees here</h1>
            <p class="lead">Placeholder [p] tag information</p>
            <hr class="my-4">
            <p>Even more Placeholder [p] tag information</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    
        <div class="card text-white bg-dark" style="width: 18rem;">
          <img class="card-img-top" src="../COVID Track Pictures/nurse.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Condition Worsen?</h5>
            <p class="card-text">For employees that may need hospitalization.</p>
            <a href="hospitalized.html" class="btn btn-light">Current List</a>
          </div>
        </div>
